/*@font-face {
    font-family: "ModernAntiqua";
    src: local("ModernAntiqua"), url(~assets/fonts/Modern_Antiqua/ModernAntiqua-Regular.ttf) format("truetype");
    font-family: "DavidLibre";
    src: local("DavidLibre"), url(~assets/fonts/David_Libre/DavidLibre-Regular.ttf) format("truetype");
    font-family: "OpenSans";
    src: local("OpenSans"), url(~assets/fonts/Open_Sans/OpenSans-Regular.ttf) format("truetype");
  }
*/
h1,h2, v-toolbar-title {
  font-family: 'Modern Antiqua';
}
h3, v-list-item-title {
  font-family: 'David Libre';
}
html, body, p{
  font-family: 'OpenSans';
}